nav {
  background: pink;
}

div.parent {
  display: grid;
  grid-template-columns: 200px auto;
  min-height: 100vh;
  grid-gap: 20px;
}

div.child {
  background: gold;
}
.box {
  width: 100px;
  height: 100px;
  background: yellow;
  border: 5px solid green;
  padding: 15px;
  margin: 15px;
}
p {
  background: red;
}
.paragraph_2 {
  background: blue;
}
#paragraph_3 {
  background: green;
}
div.parent p:nth-child(2) strong {
  background: pink;
}
a {
  text-decoration: none;
}

nav li {
  list-style-type: none;
  margin-bottom: 15px;
}

nav ul {
  padding: 0;
}
.block-div {
  background: turquoise;
  display: block;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 1rem;
  margin: 2rem;
}

#spacing-lesson {
  width: 150px;
  height: 150px;
  padding: 100px;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
}

#spacing-lesson .round {
  border-radius: 30px;
}

.inline-div {
  display: inline;
  background-color: purple;
  color: white;
}

.bi {
  margin-right: 10px;
  margin-left: 10px;
}
